<?xml version="1.0"?>
<configuration>
   <!--<configProtectedData defaultProvider="mccSecureDefaultProvider">
    <providers>
      <add name="SampleProvider"
         type="System.Configuration.RsaProtectedConfigurationProvider, 
              System.Configuration, Version=2.0.0.0, Culture=neutral, 
              PublicKeyToken=b03f5f7f11d50a3a,
             processorArchitecture=MSIL"
         keyContainerName="SampleKeys"
         useMachineContainer="true" />
    </providers>
  </configProtectedData>-->
   <configSections>
      <section name="MCC" type="MCC.MCCSection, __code"/>
      <!--<section name="yafnet" type="yaf.SectionHandler,yaf"/>-->
      <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
      <sectionGroup name="Elmah">
         <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
         <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
         <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
         <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      </sectionGroup>
   </configSections>
   <appSettings configSource="app.config"/>
   <connectionStrings configSource="db.config"/>
   <rewriter configSource="urlrewrite.config"/>
   <Elmah>
      <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/app_data"/>
      <security allowRemoteAccess="1"/>
      <errorMail from="MiddleClassCrunch" to="webmaster@middleclasscrunch.com" subject="MCC Error Notification: [please check the website log!]" smtpPort="25" smtpServer="smtp.middleclasscrunch.com" userName="webmaster" password="krhibu756" async="true"/>
      <!--<errorMail from="elmah@example.com"
           to="admin@example.com"
           cc="carboncopy@example.com"
           subject="..."
           async="true|false"
           smtpPort="25"
           smtpServer="smtp.example.com"
           userName="johndoe"
           password="secret" />-->
   </Elmah>
   <system.web>
      <identity impersonate="true" userName="dp_corp\seyloma" password="lomsey58"/>
      <xhtmlConformance mode="Transitional"/>
      <!--<customErrors defaultRedirect="Error.aspx" mode="On"/>-->
      <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
      <compilation debug="true" strict="false" explicit="true" batch="false" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
         </assemblies>
         <buildProviders>
            <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
         </buildProviders>
      </compilation>
      <pages>
         <namespaces>
            <clear/>
            <add namespace="System.Web.Mvc"/>
            <add namespace="System.Web.Mvc.Ajax"/>
            <add namespace="System.Web.Mvc.Html"/>
            <add namespace="System.Web.Routing"/>
            <add namespace="MCC"/>
            <add namespace="MCC.Data"/>
            <add namespace="MvcSiteMap.Core.Helpers"/>
            <add namespace="Webdiyer.WebControls.Mvc"/>
         </namespaces>
      </pages>
      <!--<anonymousIdentification cookieless="AutoDetect" enabled="true"/>-->
      <!--<httpCookies requireSSL="true"/>-->
      <authentication mode="Forms">
         <forms name=".mcc_auth" protection="All" timeout="86400" cookieless="UseCookies" loginUrl="~/login" defaultUrl="~/"/>
         <!--<forms timeout="129600" name=".AUXBLOGENGINE" protection="All" slidingExpiration="true" loginUrl="~/login.aspx" cookieless="UseCookies"/>-->
      </authentication>
      <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="AspNetSqlRoleProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      </roleManager>
      <membership defaultProvider="Mcc_MembershipProvider" userIsOnlineTimeWindow="15">
         <providers>
            <remove name="Mcc_MembershipProvider"/>
            <add name="Mcc_MembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="10" passwordAttemptWindow="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
         </providers>
      </membership>
      <profile inherits="MCC.ProfileInfo">
         <providers>
            <clear/>
            <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer"/>
         </providers>
      </profile>
      <siteMap defaultProvider="MvcSiteMap" enabled="true">
         <providers>
            <add name="MvcSiteMap" type="MvcSiteMap.Core.MvcSiteMapProvider" siteMapFile="~/Web.Sitemap" securityTrimmingEnabled="true" cacheDuration="10"/>
            <!--<add name="Mcc_SiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap"/>-->
            <add name="mccArticlesSitemapProvider" type="MCC.SiteMapArticlesDataProvider" securityTrimmingEnabled="false"/>
            <add name="mccAdvicesSitemapProvider" type="MCC.SiteMapAdvicesDataProvider" securityTrimmingEnabled="false"/>
            <add name="mccVideosSitemapProvider" type="MCC.SiteMapVideosDataProvider" securityTrimmingEnabled="false"/>
            <add name="mccWikisSitemapProvider" type="MCC.SiteMapWikisDataProvider" securityTrimmingEnabled="false"/>
         </providers>
      </siteMap>
      <webParts enableExport="true">
         <personalization defaultProvider="mccPersonalizationProvider">
            <providers>
               <add name="mccPersonalizationProvider" connectionStringName="LocalSqlServer" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
            <authorization>
               <allow roles="Administrators,Editors" verbs="enterSharedScope"/>
            </authorization>
         </personalization>
      </webParts>
      <customErrors mode="RemoteOnly" defaultRedirect="~/Error">
         <error statusCode="401" redirect="~/accessdenied"/>
         <error statusCode="400" redirect="~/Error?code=400"/>
         <error statusCode="403" redirect="~/Error?code=403"/>
         <error statusCode="404" redirect="~/Error?code=404"/>
         <error statusCode="408" redirect="~/Error?code=408"/>
         <error statusCode="500" redirect="~/Error?code=505"/>
      </customErrors>
      <urlMappings enabled="true">
      </urlMappings>
      <machineKey validationKey="ECB185109F65EDAE2A003F867406439EEAF7B364E248FFA336DFFEDD0E70489C39B53FBC85C5763E73268481BE150DAFD0DB65E9C173DCBCED8F4D329B0B6C07" decryptionKey="E9C36DEB44B8338DA89C2ABF2FFDD665B0022CECF16528B1" validation="SHA1"/>
      <httpHandlers>
         <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <httpModules>
         <add name="FixIIS5xWildcardMappingModule" type="Elmah.FixIIS5xWildcardMappingModule, Elmah"/>
         <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
         <!-- Adds the ErrorMailModule to the HTTP pipeline. -->
         <!--<add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule,webPageSecurity" />-->
         <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
         <!--<add name="YafInitModule" type="YAF.Classes.Base.YafInitModule, YAF.Classes.Base"/>-->
         <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>

      </httpModules>
      <httpRuntime executionTimeout="360" maxRequestLength="50000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
      <trust level="Full"/>
   </system.web>
   <system.net>
      <mailSettings>
         <smtp configSource="mail.config"/>
      </mailSettings>
   </system.net>
   <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
      </modules>
      <validation validateIntegratedModeConfiguration="false"/>
      <handlers>
         <remove name="MvcHttpHandler"/>
         <remove name="UrlRoutingHandler"/>
         <add name="Elmah error logger" path="elmah.axd" verb="*" type="Elmah.ErrorLogPageFactory" resourceType="Unspecified" preCondition="integratedMode"/>
         <add name="captcha handler" path="mccCaptcha.aspx" verb="*" type="MccControls.mccCaptchaHandler" resourceType="Unspecified" preCondition="integratedMode"/>
         <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
      </handlers>
      <urlCompression doDynamicCompression="true"/>
      <!--<rewrite>
         <rules>
            <clear />
            <rule name="WWW Rewrite" enabled="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTP_HOST}" negate="true" pattern="^www\.([.a-zA-Z0-9]+)$" />
               </conditions>
               <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
            </rule>
         </rules>
      </rewrite>-->
   </system.webServer>
   <!--<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly xmlns="">
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>-->
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
