<appSettings>
  
   <add key="version" value="17" />
   <add key="questions" value="100" />
   <add key="utils" value="100" />
   <add key="jquery" value="100" />
   <add key="commoncss" value="5" />
   <add key="darkcss" value="5" />
   <add key="questioncss" value="5" />
   <add key="jqmodalcss" value="5" />
   <add key="articlecss" value="5" />
   <add key="user_articlecss" value="5" />

   <add key="com.cpstf.utils" value="http://cpstf.com/utils.asmx"/>
   <add key="ajaxJquery" value="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>
   
   <add key="mcc.root" value="http://www.middleclasscrunch.com/"/>
   <add key="mcc.ftp.root" value="ftp://ftp.middleclasscrunch.com/"/>
  
   <add key="cdn.root" value="http://cpstf.com"/>
   <add key="cdn.ftp.root" value="ftp://ftp.cpstf.com"/>
   
   <add key="path.assets.images"  value ="/_assets/images/"/>
   <add key="path.assets.videos"  value ="/_assets/videos/"/> 
   <add key="path.assets.scripts" value ="/_assets/scripts/"/>
   <add key="path.assets.css"  value ="/_assets/css/"/>
   <add key="path.assets.themes"  value ="/app_themes/"/>
  
   <add key="path.uploads" value ="/uploads/"/>
   <add key="path.images"  value ="/uploads/images/"/>
   <add key="path.videos"  value ="/uploads/videos/"/>
   <add key="path.avatars" value="/Uploads/avatars/"/>

   <!-- Uploads options -->
   <add key="uploads.image.maxsize" value="80000"/>
   <add key="uploads.image.overwrite" value="true"/>

   <add key="uploads.video.maxsize" value="50000000"/>
   <add key="uploads.video.overwrite" value="true"/>


   <!-- Only for debug- Comment before deployment --><!--
   <add key="cdn.ftp.root" value="ftp://ftp.middleclasscrunch.com/"/>
   <add key="cdn.ftp.uploads" value="ftp://ftp.middleclasscrunch.com/Uploads"/>
   <add key="cdn.ftp.images.articles" value="ftp://ftp.middleclasscrunch.com/Uploads/images/articles/"/>
   <add key="cdn.ftp.images.videos" value="ftp://ftp.middleclasscrunch.com/Uploads/images/videos/"/>
   <add key="cdn.ftp.images.avatar" value="ftp://ftp.middleclasscrunch.com/Uploads/images/avatars/"/>
   <add key="cdn.ftp.videos" value="ftp://ftp.middleclasscrunch.com/Uploads/videos/"/>-->

   <!-- Folder names used for saving -->
   <add key="folder.images" value="images"/>
   <add key="folder.videos" value="videos"/>
   <add key="folder.avatars" value="avatars"/>
   <add key="folder.none" value="mcc"/>


   <add key="ftp.userid" value="ftp.cpstf.com|dp_corp\seyloma"/>
   <!--<add key="ftp.userid" value="ftp.cpstf.com|seyloma"/>-->
   <add key="ftp.password" value="lomsey5"/>

   <!--<add key="ftp.userid" value="middleclass"/>
   <add key="ftp.password" value="krhibu756"/>-->



</appSettings>

