<connectionStrings>
   <remove name="LocalSqlServer" />
   <add name="LocalSqlServer" connectionString="Data Source=.\SASQLSS;Integrated Security=SSPI;User Instance=false;AttachDBFilename=|DataDirectory|aspnetdb.mdf"
      providerName="System.Data.SqlClient" />
   <add name="ASPNETDBConnectionString" connectionString="Data Source=.\SASQLSS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=SSPI;User Instance=False;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
   <add name="BlogEngine" connectionString="Data Source=MySQLServer;User ID=user;Password=password;persist security info=False;initial catalog=BlogEngine;" providerName="System.Data.SqlClient"/>
</connectionStrings>