<rewriter >
  <!--	<rewrite url="~/((js|img|css|op|mtn)/(.+))" to="~/$1" processing="stop"></rewrite>--><!--

  --><!--<add header="X-Powered-By" value="MiddleClassCrunch.com" />-->

  <if header="HTTP_HOST" match="^middleclasscrunch\.com$">
    <redirect url="^/default.aspx(.*)$" to="http://www.middleclasscrunch.com/$1" />
    <redirect url="^(.+)$" to="http://www.middleclasscrunch.com$1" />
  </if>

 <!--<if header="HTTP_HOST" match="^static\.middleclasscrunch\.com$">
    <rewrite url="^~/?$" to="~/_assets/images/about.png" ></rewrite>
  </if>--><!--

   <rewrite url="^~/_assets/scripts/questions-([0-9]+?).js$" to="~/_assets/scripts/questions.js" ></rewrite>
   <rewrite url="^~/_assets/scripts/utils-([0-9]+?).js$" to="~/_assets/scripts/utils.js" ></rewrite>
   <rewrite url="^~/_assets/scripts/mcc_basics-([0-9]+?).js$" to="~/_assets/scripts/mcc_basics.js" ></rewrite>
   <rewrite url="^~/_assets/scripts/jquery-([0-9]+?).js$" to="~/_assets/scripts/jquery_new.js" ></rewrite>


   <rewrite url="^~/?$" to="~/default.aspx" ></rewrite>
    <rewrite url="^~/Articles/?$" to="~/mcc/Articles/default.aspx" ></rewrite>
   <rewrite url="^~/Articles/\?page=([0-9]+)?$" to="~/mcc/Articles/default.aspx?page=$1" ></rewrite>
    <rewrite url="^~/Articles/Topics/?$" to="~/mcc/Articles/Categories.aspx"/>
    <rewrite url="^~/Articles/Topics/([^//]+)/?$" to="~/mcc/Articles/default.aspx?cat=$1"/>
    <rewrite url="^~/Articles/Topics/([^//]+)/\?page=([0-9]+)?$" to="~/mcc/Articles/default.aspx?cat=$1&amp;page=$2"/>
    <rewrite url="^~/Articles/([^\/\\,/./?]+)/?$" to="~/mcc/Articles/showArticle.aspx?slug=$1"/>
    <rewrite url="^~/Articles/([^\/\\,/./?]+)\/\?page=(.+)/?$" to="~/mcc/Articles/showArticle.aspx?slug=$1&amp;page=$2"/>
    <rewrite url="^~/Articles/([^//]+)\/\?comments_page$" to="~/mcc/Articles/articleComments.aspx?slug=$1"/>
    <rewrite url="^~/Articles/([^//]+)\/\?print_page$" to="~/mcc/Articles/print.aspx?slug=$1"/>

    <rewrite url="^~/videos/?$" to="~/mcc/videos/default.aspx"/>
    <rewrite url="^~/videos/Topics/([^//]*)/?$" to="~/mcc/videos/default.aspx?cat=$1"/>
    <rewrite url="^~/videos/([0-9]+)/([^\/\\,/./?]+)/?$" to="~/mcc/videos/default.aspx?id=$1&amp;slug=$2"/>
    
    <rewrite url="^~/Authors/?$" to="~/mcc/Publishers/authors.aspx"/>
    <rewrite url="^~/Authors/([^\/\\,/./?]+)/?$" to="~/mcc/Publishers/writersBio.aspx?authorId=$1"/>
    <rewrite url="^~/About/?$" to="~/mcc/info/about.aspx"/>
    <rewrite url="^~/contact/?$" to="~/mcc/info/contactus.aspx"/>
    <rewrite url="^~/Help/?$" to="~/mcc/misc/help.aspx"/>
    <rewrite url="^~/Stories/?$" to="~/mcc/stories/default.aspx"/>
    <rewrite url="^~/search/?$" to="~/mcc/misc/search.aspx"/>
    <rewrite url="^~/search\?q=([^\/\\,/./?]+)?$" to="~/mcc/misc/search.aspx?q=$1"/>
    <rewrite url="^~/users/([^\/\\,/./?]+)/?$" to="~/mcc/users/user.aspx?uname=$1"/>
    

    <rewrite url="^~/Community/?$" to="~/yaf/default.aspx"/>
    <rewrite url="^~/Tools/?$" to="~/mcc/tools/default.aspx"/>
    <rewrite url="^~/Tips/?$" to="~/mcc/Advices/default.aspx"/>
    <rewrite url="^~/Quotes/?$" to="~/mcc/quotes/default.aspx"/>
    <rewrite url="^~/MccProject/?$" to="~/mcc/people/default.aspx"/>


    <rewrite url="^~/Tips/?$" to="~/mcc/Advices/default.aspx" />
    <rewrite url="^~/Tips/Topics/([^//]*)/?$" to="~/mcc/Advices/default.aspx?cat=$1"/>
    <rewrite url="^~/Tips/([^\/\\,/./?]+)/?$" to="~/mcc/Advices/showAdvice.aspx?slug=$1"/>
    <rewrite url="^~/Tips/([^//]+)\/\?comments_page$" to="~/mcc/Advices/AdviceComments.aspx?slug=$1"/>
    <rewrite url="^~/Tips/([^//]+)\/\?print_page$" to="~/mcc/Advices/print.aspx?slug=$1"/>

    <rewrite url="^~/Questions/?$" to="~/mcc/ask/questions.aspx" />
   <rewrite url="^~/Questions/ask/?$" to="~/mcc/ask/askquestion.aspx" />
   <rewrite url="^~/Questions/Popular/?$" to="~/mcc/ask/questions.aspx?qtp=popular" />
   <rewrite url="^~/Questions/Hot/?$" to="~/mcc/ask/questions.aspx?qtp=Hot" />
   <rewrite url="^~/Questions/unanswered/?$" to="~/mcc/ask/questions.aspx?qtp=unanswered" />
   <rewrite url="^~/Questions/([^//]+)/([^//]+)?$" to="~/mcc/ask/viewquestion.aspx?id=$1" />
   <rewrite url="^~/editquestion/([^//]+)/?$" to ="~/mcc/ask/editquestion.aspx?id=$1"/>
   <rewrite url="^~/editanswer/([^//]+)/?$" to ="~/mcc/ask/editanswer.aspx?id=$1"/>
    
    <rewrite url="^~/feedback/?$" to="~/mcc/info/feedback.aspx"/>
    <rewrite url="^~/feedback/submitfeedback?$" to="~/mcc/info/submitfeedback.aspx"/>
    <rewrite url="^~/feedback/feedbackConfirm?$" to="~/mcc/info/feedbackConfirm.aspx"/>
    <rewrite url="^~/feedback\?id=(.+)$" to="~/mcc/info/feedbackinfo.aspx?id=$1"/>

    <rewrite url="^~/termsofuse/?$" to="~/mcc/info/termsofuse.aspx"/>
    <rewrite url="^~/PrivacyPolicy/?$" to="~/mcc/info/privacypolicy.aspx"/>

    <rewrite url="^~/reportIssues/?$" to="~/mcc/info/reportIssues.aspx"/>
    <rewrite url="^~/submitContent/?$" to="~/mcc/misc/submitcontent.aspx"/>
    <rewrite url="^~/info/ContentConfirm/?$" to="~/mcc/info/contentConfirm.aspx"/>

    <rewrite url="^~/sitemap/?$" to="~/mcc/misc/sitemap.aspx"/>
    <rewrite url="^~/Admin/?$" to="~/Admin/default.aspx"/>
    <rewrite url="^~/register/?$" to="~/mcc/users/loginpage.aspx"/>

    <rewrite url="^~/login/?$" to="~/mcc/users/loginpage.aspx"/>
    <rewrite url="^~/signup/?$" to="~/mcc/users/register.aspx"/>
    <rewrite url="^~/login\?ReturnUrl=(.+)$" to="~/mcc/users/loginpage.aspx?returnUrl=$1"/>
   <rewrite url="^~/logout/?" to="~/logout.aspx"></rewrite>
   <rewrite url="^~/loginreq/?$" to="~/loginRequired.aspx"/>
    <rewrite url="^~/accessdenied/?$" to="~/mcc/misc/accessdenied.aspx"/>
    <rewrite url="^~/error/([^\/\\,/./?]+)/?$" to="~/mcc/misc/error.aspx?code=$1" ></rewrite>
    <rewrite url="^~/reset/?$" to="~/mcc/users/passwordrecovery.aspx"/>
    <rewrite url="^~/reset\?email=(.+)&amp;c=(.+)$" to="~/mcc/users/passwordrecovery.aspx?email=$1&amp;c=$2"/>
    

    <rewrite url="^~/activationreq/?$" to="~/mcc/misc/activationreq.aspx"/>
    <rewrite url="^~/nonActiveUser/?$" to="~/mcc/misc/nonactive.aspx"/>
    <rewrite url="^~/activation\?uuid=(.+)$" to="~/mcc/misc/activation.aspx?uuid=$1"/>

    <rewrite url="^~/mailto/\?title=(.+)&amp;url=(.+)$" to="~/mcc/misc/mailto.aspx?title=$1&amp;url=$2"/>

    <rewrite url="^~/profile/?$" to="~/mcc/users/profile.aspx"/>
    <rewrite url="^~/profile\?v=(.+)$" to="~/mcc/users/profile.aspx?v=$1"/>

    --><!--<rewrite url="^~/login/(?(.+))?$" to="~/mcc/user/loginpage.aspx$2"/>--><!--

    --><!--<rewrite url="^~/login/?$" to="~/mcc/user/loginpage.aspx"/>--><!--
    --><!--<rewrite url="^~/login/(\?(.+))?$" to="~/mcc/users/loginpage.aspx?ReturnUrl=$1"/>--><!--

    --><!--<rewrite url="^~/Articles/([^//].*)\.aspx$" to="~/mcc/Articles/showArticle.aspx?slug=$1"/>--><!--
    --><!--<rewrite url="^(.*)/(\?.+)?$" to="$1/default.aspx$2?" />--><!--
    --><!--<rewrite url="~/((js|img|css|op|mtn)/(.+))" to="~/$1" processing="stop"></rewrite>--><!--

    --><!-- forums yaf --><!--
    <rewrite url="^~/(.+?)?yaf_login?\.aspx\?returnurl\=(.+)$" to="~/$1Default.aspx?g=login&amp;ReturnURL=$2" processing="stop" />
    <rewrite url="^~/(.+?)?yaf_info?\.aspx\?i=([0-9]+?)&amp;url\=(.+)$" to="~/$1Default.aspx?g=info&amp;i=$2&amp;url=$3" processing="stop" />
    <rewrite url="^~/(.+)?yaf_topics([0-9]+)p([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=topics&amp;f=$2&amp;p=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?yaf_topics([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=topics&amp;f=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_forum([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=forum&amp;c=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postst([0-9]+)p([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;t=$2&amp;p=$3&amp;$7" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postst([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;t=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_postsm([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;m=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_profile([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=profile&amp;u=$2&amp;$6" processing="stop" />
    <rewrite url="^~/(.+)?yaf_([-0-9a-z_]+?)\.aspx\?(.+)?$" to="~/$1Default.aspx?g=$2&amp;$3" processing="stop" />
    <rewrite url="^~/(.+)?yaf_([-0-9a-z_]+?)\.aspx$" to="~/$1Default.aspx?g=$2" processing="stop" />

    <redirect url="^~/yaf/default.aspx?g=register$" to="~/mcc/users/register.aspx"/>


    --><!--Admin links--><!--
    <rewrite url="^~/Admin/?$" to="~/admin/default.aspx" ></rewrite>
    <rewrite url="^~/Admin/notifications/?$" to="~/admin/notifications.aspx" ></rewrite>
    <rewrite url="^~/Admin/pending_tasks/?$" to="~/admin/tasks.aspx" ></rewrite>
    <rewrite url="^~/Admin/wiki?$" to="~/admin/default.aspx" ></rewrite>
    <rewrite url="^~/Admin/wiki_help/?$" to="~/admin/help/help.aspx" ></rewrite>
    <rewrite url="^~/Admin/wiki_knowledgebase/?$" to="~/admin/help/knowledgebase.aspx" ></rewrite>

    <rewrite url="^~/Admin/admin_index/?$" to="~/admin/index/adminindex.aspx" ></rewrite>
    <rewrite url="^~/Admin/roles/?$" to="~/admin/index/roles.aspx" ></rewrite>
    <rewrite url="^~/Admin/bad_words/?$" to="~/admin/index/badwords.aspx" ></rewrite>
    <rewrite url="^~/Admin/replace_words/?$" to="~/admin/index/replacewords.aspx" ></rewrite>
    <rewrite url="^~/Admin/cms_settings/?$" to="~/admin/index/pagesettings.aspx" ></rewrite>
    <rewrite url="^~/Admin/banned_ips/?$" to="~/admin/index/bannedip.aspx" ></rewrite>
    <rewrite url="^~/Admin/manage_users/?$" to="~/admin/index/manageUsers.aspx" ></rewrite>
   <rewrite url="^~/Admin/manage_users\?page=([0-9]+)/?$" to="~/admin/index/manageUsers.aspx?page=$1" ></rewrite>
    <rewrite url="^~/Admin/logs/?$" to="~/admin/ErrorLog.aspx" ></rewrite>
    <rewrite url="^~/Admin/management_tools/?$" to="~/admin/index/managementtools.aspx" ></rewrite>

    <rewrite url="^~/Admin/tickets/tickets_list(.*)?$" to="~/admin/tickets/listtickets.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/tickets/tickets_add_edit(.*)?$" to="~/admin/tickets/addEditTicket.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/tickets/tickets_query/?$" to="~/admin/tickets/ticketsquery.aspx" ></rewrite>
    <rewrite url="^~/Admin/tickets/ticket_detail(.*)?$" to="~/admin/tickets/viewticket.aspx$1" ></rewrite>

    <rewrite url="^~/Admin/articles_list(.*)/?$" to="~/admin/articles/listarticles.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/articles_add_edit(.*)/?$" to="~/admin/articles/AddEditArticle.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/articles_categories/?$" to="~/admin/articles/categories.aspx" ></rewrite>
    <rewrite url="^~/Admin/articles_comments(.*)/?$" to="~/admin/articles/managearticlecomments.aspx$1" ></rewrite>

    <rewrite url="^~/Admin/articles/articles_reviews(.*)?$" to="~/admin/articles/reviewarticles.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/user_content_list/?$" to="~/admin/usercontent/contentlist.aspx" ></rewrite>

    <rewrite url="^~/Admin/tips_list/?$" to="~/admin/tips/listadvices.aspx" ></rewrite>
    <rewrite url="^~/Admin/tips_add_edit(.*)?$" to="~/admin/tips/AddEditAdvice.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/tips_categories/?$" to="~/admin/tips/manageAdviceCategories.aspx" ></rewrite>
    <rewrite url="^~/Admin/tips_comments/?$" to="~/admin/tips/manageadvicecomments.aspx" ></rewrite>
  
    <rewrite url="^~/Admin/videos_upload/?$" to="~/admin/videos/uploadVideos.aspx" ></rewrite>
    <rewrite url="^~/Admin/videos_list/?$" to="~/admin/videos/default.aspx" ></rewrite>
    <rewrite url="^~/Admin/videos_add_edit(.*)?$" to="~/admin/videos/AddEditVideo.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/videos_categories/?$" to="~/admin/videos/manageVideoCategories.aspx" ></rewrite>
    <rewrite url="^~/Admin/videos_update(.*)?$" to="~/admin/videos/updatevideos.aspx$1" ></rewrite>
  

   <rewrite url="^~/Admin/questions_list/?$" to="~/admin/questions/questionlist.aspx" ></rewrite>
    <rewrite url="^~/Admin/question_add_edit(.*)?$" to="~/admin/questions/AddEditquestion.aspx$1" ></rewrite>

    <rewrite url="^~/Admin/quotes_list/?$" to="~/admin/quotes/browsequotes.aspx" ></rewrite>
    <rewrite url="^~/Admin/quotes_add_edit(.*)?$" to="~/admin/quotes/AddEditquotes.aspx$1" ></rewrite>

    <rewrite url="^~/Admin/home_pages_list/?$" to="~/admin/homepages/browsehomepages.aspx" ></rewrite>
    <rewrite url="^~/Admin/home_pages_add_edit(.*)?$" to="~/admin/homepages/AddEditHomePage.aspx$1" ></rewrite>

    <rewrite url="^~/admin/wiki_pages/?$" to="~/admin/help/wikilist.aspx"/>
    <rewrite url="^~/admin/wiki_pages/([^\/\\,/./?]+)/?$" to="~/admin/help/viewwikipage.aspx?pagename=$1"/>
    <rewrite url="^~/admin/wiki/add_wiki_page/?$" to="~/admin/help/addEditWiki.aspx"/>

    <rewrite url="^~/Admin/images_list(.*)?$" to="~/admin/images/listimages.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/images_add_edit(.*)?$" to="~/admin/images/AddEditimages.aspx$1" ></rewrite>
    <rewrite url="^~/Admin/images_thumbs_create(.*)?$" to="~/admin/images/createThumbnails.aspx$1" ></rewrite>

  <rewrite url="^~/Admin/ads_list/?$" to="~/admin/ads/manageads.aspx" ></rewrite>
  <rewrite url="^~/Admin/ads_add_edit(.*)?$" to="~/admin/ads/AddEditAd.aspx$1" ></rewrite>

  <rewrite url="^~/Admin/polls_list/?$" to="~/admin/polls/browsePolls.aspx" ></rewrite>
  <rewrite url="^~/Admin/poll_info(.*)?$" to="~/admin/polls/viewPoll.aspx$1" ></rewrite>




  --><!--<if header="HTTP_HOST" match="^static\.middleclasscrunch\.com$">
    <rewrite url="^~/images/(.*)?$" to="~/_assets/images/$1" ></rewrite>
    <rewrite url="^~/scripts/(.*)?$" to="~/_assets/scripts/" ></rewrite>
    <rewrite url="^~/css/(.*)?$" to="~/_assets/css/" ></rewrite>
    <rewrite url="^~/videos/(.*)?$" to="~/uploads/videos/" ></rewrite>
  </if>-->
</rewriter>