<?xml version="1.0"?>
<configuration>
   <!--<configProtectedData defaultProvider="mccSecureDefaultProvider">
    <providers>
      <add name="SampleProvider"
         type="System.Configuration.RsaProtectedConfigurationProvider, 
              System.Configuration, Version=2.0.0.0, Culture=neutral, 
              PublicKeyToken=b03f5f7f11d50a3a,
             processorArchitecture=MSIL"
         keyContainerName="SampleKeys"
         useMachineContainer="true" />
    </providers>
  </configProtectedData>-->
   <configSections>
      <section name="MCC" type="MCC.MCCSection, __code"/>
      <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
      <sectionGroup name="Elmah">
         <section name="security" type="Elmah.SecuritySectionHandler, Elmah"/>
         <section name="errorLog" type="Elmah.ErrorLogSectionHandler, Elmah"/>
         <section name="errorMail" type="Elmah.ErrorMailSectionHandler, Elmah"/>
         <section name="errorFilter" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      </sectionGroup>
   </configSections>
   <appSettings configSource="app.config"/>
   <!--<connectionStrings configSource="db.config"/>-->
   <connectionStrings>
      <clear/>
      <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;User Instance=false;AttachDBFilename=|DataDirectory|aspnetdb.mdf"
        providerName="System.Data.SqlClient" />
      <add name="ASPNETDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=SSPI;User Instance=False"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
   <rewriter configSource="urlrewrite.config"/>
   <Elmah>
      <security allowRemoteAccess="true"/>
      <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/admin/logs"/>
      <errorMail from="MiddleClassCrunch" to="middleclasscrunch@gmail.com" subject="MCC Error Notification: [please check the website log!]" async="true"/>
      <!--<errorMail from="elmah@example.com"
           to="admin@example.com"
           cc="carboncopy@example.com"
           subject="..."
           async="true|false"
           smtpPort="25"
           smtpServer="smtp.example.com"
           userName="johndoe"
           password="secret" />-->
   </Elmah>
   <location path="." inheritInChildApplications="false">
      <system.web>
         <xhtmlConformance mode="Transitional"/>
         <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

         <compilation debug="true" strict="false" explicit="true" batch="false" targetFramework="4.0">
            <assemblies>
               <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
               <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
               <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
            <buildProviders>
               <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
            </buildProviders>
         </compilation>
         <pages renderAllHiddenFieldsAtTopOfForm="false" enableViewState="false">
            <namespaces>
               <clear/>
               <add namespace="System.Web.Mvc"/>
               <add namespace="System.Web.Mvc.Ajax"/>
               <add namespace="System.Web.Mvc.Html"/>
               <add namespace="System.Web.Routing"/>
               <add namespace="MCC"/>
               <add namespace="MCC.Data"/>
               <add namespace="MvcSiteMap.Core.Helpers"/>
               <!--<add namespace="Webdiyer.WebControls.Mvc"/>-->
            </namespaces>
         </pages>
         <authentication mode="Forms">
            <forms name=".YAFNET_Authentication" protection="All" timeout="86400" cookieless="UseCookies" loginUrl="~/login" defaultUrl="~/"/>
         </authentication>
         <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="AspNetSqlRoleProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
         </roleManager>
         <membership defaultProvider="Mcc_MembershipProvider" userIsOnlineTimeWindow="15">
            <providers>
               <remove name="Mcc_MembershipProvider"/>
               <add name="Mcc_MembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="10" passwordAttemptWindow="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider"/>
            </providers>
         </membership>
         <profile inherits="MCC.ProfileInfo">
            <providers>
               <clear/>
               <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer"/>
            </providers>
         </profile>
         <siteMap defaultProvider="MvcSiteMap" enabled="true">
            <providers>
               <add name="MvcSiteMap" type="MvcSiteMap.Core.MvcSiteMapProvider" siteMapFile="~/Web.Sitemap" securityTrimmingEnabled="true" cacheDuration="10"/>
               <!--<add name="Mcc_SiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap"/>-->
               <add name="mccArticlesSitemapProvider" type="MCC.SiteMapArticlesDataProvider" securityTrimmingEnabled="false"/>
               <add name="mccAdvicesSitemapProvider" type="MCC.SiteMapAdvicesDataProvider" securityTrimmingEnabled="false"/>
               <add name="mccVideosSitemapProvider" type="MCC.SiteMapVideosDataProvider" securityTrimmingEnabled="false"/>
               <add name="mccWikisSitemapProvider" type="MCC.SiteMapWikisDataProvider" securityTrimmingEnabled="false"/>
            </providers>
         </siteMap>
         <!--<healthMonitoring heartbeatInterval="10800">
			<providers>
				<remove name="SqlWebEventProvider"/>
				<add name="SqlWebEventProvider" connectionStringName="LocalSqlServer" buffer="false" bufferMode="Notification" maxEventDetailsLength="1073741823" type="System.Web.Management.SqlWebEventProvider"/>
			</providers>
			<eventMappings>
				<add name="MCC Events" type="MCCEvents.MCCEvents.WebCustomEvent,MCCEvents.CustomEvents"/>
			</eventMappings>
			<rules>
				<clear/>
				<add name="MCC Events" eventName="MCC Events" provider="SqlWebEventProvider" profile="Critical"/>
				<add name="All Errors" eventName="All Errors" provider="SqlWebEventProvider" profile="Critical"/>
				<add name="Failure Audits" eventName="Failure Audits" provider="SqlWebEventProvider" profile="Critical"/>
				<add name="Heartbeats" eventName="Heartbeats" provider="SqlWebEventProvider" profile="Critical"/>
			</rules>
		</healthMonitoring>
		<webParts enableExport="true">
			<personalization defaultProvider="mccPersonalizationProvider">
				<providers>
					<add name="mccPersonalizationProvider" connectionStringName="LocalSqlServer" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider"/>
				</providers>
				<authorization>
					<allow roles="Administrators,Editors" verbs="enterSharedScope"/>
				</authorization>
			</personalization>
		</webParts>-->
         <customErrors mode="RemoteOnly" defaultRedirect="~/Error">
            <error statusCode="401" redirect="~/accessdenied"/>
            <error statusCode="400" redirect="~/Error?code=400"/>
            <error statusCode="403" redirect="~/Error?code=403"/>
            <error statusCode="404" redirect="~/Error?code=404"/>
            <error statusCode="408" redirect="~/Error?code=408"/>
            <error statusCode="500" redirect="~/Error?code=505"/>
         </customErrors>
         <urlMappings enabled="true">
         </urlMappings>
         <machineKey validationKey="ECB185109F65EDAE2A003F867406439EEAF7B364E248FFA336DFFEDD0E70489C39B53FBC85C5763E73268481BE150DAFD0DB65E9C173DCBCED8F4D329B0B6C07" decryptionKey="E9C36DEB44B8338DA89C2ABF2FFDD665B0022CECF16528B1" validation="SHA1"/>
         <httpHandlers>
            <add verb="POST,GET,HEAD" path="Admin/logs" type="Elmah.ErrorLogPageFactory, Elmah"/>
         </httpHandlers>
         <httpModules>
            <add name="FixIIS5xWildcardMappingModule" type="Elmah.FixIIS5xWildcardMappingModule, Elmah"/>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
         </httpModules>
         <httpRuntime executionTimeout="360" maxRequestLength="50000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" requestValidationMode="2.0" />
         <trust level="Full"/>
      </system.web>
      <system.net>
         <mailSettings>
            <smtp configSource="mail.config"/>
         </mailSettings>
      </system.net>
      <system.codedom>
         <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
               <providerOption name="CompilerVersion" value="v4.0"/>
               <providerOption name="WarnAsError" value="false"/>
            </compiler>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
               <providerOption name="CompilerVersion" value="v4.0"/>
               <providerOption name="OptionInfer" value="true"/>
               <providerOption name="WarnAsError" value="false"/>
            </compiler>
         </compilers>
      </system.codedom>
      <system.webServer>
         <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
         </modules>
         <validation validateIntegratedModeConfiguration="false"/>
         <handlers>
            <add name="Elmah error logger" path="Admin/logs" verb="*" type="Elmah.ErrorLogPageFactory" resourceType="Unspecified" preCondition="integratedMode"/>
            <add name="captcha handler" path="mccCaptcha.aspx" verb="*" type="MccControls.mccCaptchaHandler" resourceType="Unspecified" preCondition="integratedMode"/>
         </handlers>
         <urlCompression doDynamicCompression="true"/>
      </system.webServer>
   </location>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
