<yafnet>
  <root>/yaf/</root>
	<connstr>Data Source=.\SASQLSS;AttachDbFilename=|DataDirectory|\aspnetdb.MDF;Integrated Security=True;User Instance=False</connstr>
  <!--<connstr>Data Source=tcp:sql2k513.discountasp.net;Initial Catalog=SQL2005_482223_aspnetdb;User ID=SQL2005_482223_aspnetdb_user;Password=krhibu756</connstr>-->
	<uploaddir>~/upload/</uploaddir>
	<boardid>1</boardid>
	<!-- Enable URL Rewriting -->
	<enableurlrewriting>true</enableurlrewriting>
	<!--logtomail>email=;server=;user=;pass=;</logtomail-->
	<!--categoryid>1</categoryid-->
	<!-- Enable these to use a custom user class "provider" -->
	<!--CustomUserAssembly>TinyGecko.YAFIntegration.dll</CustomUserAssembly>
    <CustomUserClass>TinyGecko.YAFIntegration.yafUserClass</CustomUserClass-->
</yafnet>