*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: "Lucida Grande",Verdana,sans-serif;
	background:#fafafa;
	font-size:70%;
	color: #393737;
}
.mcc_defaultContainer
{
	margin-top: 5px;
	padding: 20px;
	background-color: #fff;
}
.mbc
{
	padding: 10px;
	background-color: #fff;
	/*border:1px dotted #bababa;*/
}
.brdbx
{
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.mcc_container .contentContainer
{
	background-color: Transparent;
}
.wrapper
{
	margin: 0 auto;
	min-width: 800px;
	width: 950px;
}
.main-wrapper
{
	margin: 0 auto 0 auto;
	max-width: 1000px;
	min-width: 800px;
	width: 950px !important;
}
.mrn
{
    background-color:#994138;
}