.q
{
   overflow: hidden; margin-bottom: 10px; border-bottom: 1px dotted #d2d2d2;
            padding: 5px 3px 15px;
}
.qx
{
   float:left;
}
.qrbx
{
   text-align: center;
   vertical-align: middle;
   width:60px;
   margin-right: 10px;
   margin-bottom:5px;
   background-color: #eaeada;
   /*border: 1px solid #eaeada;*/
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   padding: 5px;
}
.abx
{
   text-align: center;
   vertical-align: middle;
   width:60px;
   background-color: #eaeada;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   padding: 5px;
}

.answer
{
   margin-bottom:15px;
   border-bottom:1px dotted #bababa;
   padding:10px 5px;
}
.op
{
   background-color: #fafafa;
}
.rep
{
   background-color:#e8ffed;
}
.op div.abx
{
   background-color: #eaeada;
}
.rep div.abx
{
   background-color:#99eaa7;
}
.qrbx span.qrbval,.abx span.qrbval
{
   display: block; 
   font-size: 22px;
   font-family:Tahoma; 
   font-weight: bold;
   color: #555555;
}
.qrbx .status,.abx .status
{
   height:5px;
   margin:3px 2px;
   /*background-color:#159621;*/
}
.qbx
{
   float: left;
   width: 590px;
}
.qrbx-author,.qrbx-info
{
   font-family:Tahoma;
   font-size:10px;
   color:#646464;
}
.qrbx-head
{
   font-family:Tahoma;
   font-size:10px;
   color:#3c291e;
}
.qrbody
{
   margin-top: 10px;
   border-bottom:1px dotted #bababa;
   padding-bottom:10px;
}
.qrbody p
{
   margin-bottom:10px;
}
.qrbody a
{
   line-height: normal;
   text-decoration: none;
   color: maroon;
   padding: 0;
   border-bottom: 1px dotted maroon;
}
.qrbody a:hover
{
   color: maroon;
   text-decoration: none;
   border-bottom: 1px solid maroon;
}
.qrbody ul
{
   margin-left:20px;
   list-style-type:square;
}
.qrbody ul li
{
   list-style-type:square;
   margin:5px;
}
.qrtool
{
margin: 5px 0;
}
.qrtool a
{
font-size: 10px;
}
.qrp
{
   margin: 20px 0; padding: 5px 0;

}
.qrp a
{
   font-size: 11px; 
   padding: 5px 10px; 
   background: #994138 url(../../_assets/images/gradient-r.png) repeat-x scroll;
   color: #f1f1f1;
   text-decoration: none;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
}
.qrp a:hover
{
    color: #fff;
    -moz-box-shadow:0 0 3px #999999;
    background: #994138 url(../../_assets/images/gradient-ro.png) repeat-x scroll;
}
.qanswer
{
   padding: 5px; background-color: #f9f9f9;
   border-bottom: 1px dotted #eaeaea;
   margin-bottom: 10px; overflow: hidden;
}

.question
{
   background: #f5f5f5; padding: 5px;
}

.qtitle
{
font-size: 18px; font-weight: normal; line-height: normal; color: #994138;
      margin-bottom: 10px;
}

.bybx
{
   width: 70px; height: 70px; background-color: yellow;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   text-align:center;
   vertical-align:middle;
}
.askf
{
   margin:5px 0;padding:5px 0;
}

.ask
{
      margin:5px 0;padding:5px 0;
      border-bottom:1px solid #eaeaea;
}
h3.qt
{
   font-size:18px;
   font-weight:normal;
   line-height:normal;
   
}
h3.qt a
{
   color:#994138;
   text-decoration:none;
}
h3.qt a:hover
{
    text-decoration:underline;
}
h3.qt a:visited
{
   text-decoration:none;
   color:#BF685F;
} 
img.voteup
{
   background:url(../../_assets/images/vote-up-q.png) no-repeat;
}
img.votedown
{
   background:url(../../_assets/images/vote-down-q.png) no-repeat;
}
a:hover img.voteup
{
   background:url(../../_assets/images/vote-up-g.png) no-repeat;
}
a:hover img.votedown
{
   background:url(../../_assets/images/vote-down.png) no-repeat;
}
a.vk img
{
   border:0 none;
   width:20px;
   height:20px;
   cursor:pointer;
}
a.vk
{
    text-decoration:none;
    margin:0 3px;
}
/*a.vk:hover
{
   -moz-box-shadow:0 0 3px #999999;
}*/
.pntf
{
   padding:15px 20px;
   background-color:#994138;
   position:absolute;
   z-index:1;
   color:#fff;
}
.pntf a
{

}
table.tb_stat
{
   border-collapse:collapse;
}
table.tb_stat tr
{
   height:5px;
}
table.tb_stat tr td.up
{
   width: 50%; background-color: #159621;
}
table.tb_stat tr td.down
{
   width: 50%; background-color: #ff3333;
}
.qrbx span
{
      display:block
}
.qrbx div.state
{
   font-size:10px;padding:3px;margin:3px;
   height:24px;
}
.qrbx .unresolved
{
display:none;
}
.qrbx .resolved
{
   background:transparent url(../../_assets/images/ok24.png) center center no-repeat;
   display:block;
}
table.qtb
{
   border-collapse:collapse;
}
table.qtb td
{
   text-align:center;
}
img.accept
{
   width:24px;
   height:24px;
   cursor:pointer;
}
.rep .accept
{
   margin : 0 auto;
   width:24px;
   height:24px;
   background:transparent url(../../_assets/images/ok24.png) no-repeat;
}
.op .accept
{
   margin : 0 auto;
   width:24px;
   height:24px;
   background:transparent url(../../_assets/images/accept24.png) no-repeat;
}
.commta
{
   width:100%;
   padding:3px;
   margin-bottom:3px;
}
.qapostbd
{
   padding:5px;
   border:1px solid #bababa;
}
.answer ul
{
  margin-left:10px;
  list-style-type:square;
  padding:10px;
}
.answer ul li
{
  margin-left:15px;
  list-style-type:square;
}
.answer ol
{
   margin-left:10px;
   padding:10px;
}
.answer ol li
{
  list-style-type:square;
}
.qtbx
{
   padding:5px;
}
.qempty
{
   color:#bababa;
}
.flw
{
   margin-top:4px;
   text-align:center;
   font-size:10px;
   background-color:#eaeada;
   color:#994138;
   width:60px;
   -moz-border-radius:3px 3px 3px 3px; 
   padding:2px 5px;
   display:block;
}
.flw:hover
{
   cursor:pointer;
}
.f_on
{
  background-color:#f8c068;
}
.f_off
{
   background-color:#eaeada;
}